{% extends "layout.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukCookieBanner({
ariaLabel: "Cookies on Methods todo list",
messages: [
{
headingText: "Cookies on Methods todo list",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{{ govukHeader() }}
{% endblock %}



{% block content %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "http://localhost:3000/"
},
{
text: "Wellbeing",
href: "http://localhost:3000/wellbeing"
},
{
text: "Date",
href: "#"
}
]
}) }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <form class="form" action="/steps" method="post">
      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
      id: "date-input",
      namePrefix: "date-input",
      fieldset: {
      legend: {
      text: "Select date to record",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      hint: {
      text: "For example, 27 3 2007"
      },
      value: data['date-input']
      }) }}
      
        <a href="http://localhost:3000/steps">
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </a> 
    </form>

    </form>




  </div>


</div>
{% endblock %}