{% extends "layout.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukCookieBanner({
ariaLabel: "Cookies on Methods todo list",
messages: [
{
headingText: "Cookies on Methods todo list",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{{ govukHeader() }}
{% endblock %}



{% block content %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "http://localhost:3000/"
},
{
text: "Wellbeing",
href: "http://localhost:3000/wellbeing"
},
{
text: "Date",
href: "#"
}
]
}) }}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			{% if serviceName %} {{ serviceName }} {% endif %}
		</h1>

		<form class="form" action="date-answer" method="post">
			{{ govukDateInput ({
			id: 'date',
			namePrefix: 'date',
			fieldset: {
			legend: {
			text: 'Enter to do date',
			isPageHeading: true,
			classes: 'govuk-fieldset__legend--l'
			} },
			items: [ {
			classes:'govuk-input--width-2',
			name: 'day', value: data['date-day'] },
			{
			classes: 'govuk-input--width-2',
			name: 'month',
			value:data['date-month'] },
			{
			classes: 'govuk-input--width-4',
			name:
			'year',
			value: data['date-year'] }
			] }) }}
			{{ govukButton ({
			html:'Save and continue'
			}) }}
		</form>

		</form>




	</div>


</div>
{% endblock %}