{% extends "layout.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukCookieBanner({
ariaLabel: "Cookies on Methods todo list",
messages: [
{
headingText: "Cookies on Methods todo list",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{{ govukHeader() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}

    </h1>

    <p>This To-do list is to help you organise
      your daily tasks, both for your personal wellbeing or for your worklife. This will help you keep important
      appointments and stay healthy. </p>

    <a href="http://localhost:3000/todo/wellbeing-todo" role="button" draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Wellbeing ToDo
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
    <a href="#" role="button" draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Work ToDo
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

    <h2 class="govuk-heading-m">Learn more</h2>

    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
    id: "accordion-default",
    items: [
    {
    heading: {
    text: "Wellbeing ToDo"
    },
    content: {
    html: "<p class='govuk-body'>This is the content relating wellbeing during the week.</p>"
    }
    },
    {
    heading: {
    text: "Work ToDo"
    },
    content: {
    html: "<p class='govuk-body'>This is the content for staying organised during your work week.</p>"
    }
    }
    ]
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">


  </div>
</div>
{% endblock %}