{% extends "layout.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
    text: "Back",
    href: "http://localhost:3000/"
    }) }}

    <h1 class="govuk-heading-xl">
      Wellbeing To-do List
    </h1>

    <p>This is a wellbeing todo list, to help you stay healthy during your work day.</p>

    <p>Completing the todo takes around 2 minutes.</p>



    <a href="http://localhost:3000/todo/wellbeing-todo/date" role="button" draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Get started
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>


    {% from "govuk/components/details/macro.njk" import govukDetails %}

    {{ govukDetails({
    summaryText: "Information about Health and Wellbeing",
    text: "This wellbeing to do list will ask you basic questions about daily activities that will boost your health and
    wellbeing such as daily steps and water intake"
    }) }}

  </div>
  {% endblock %}